body {
    color: #fff;
    background-color: #333;
}

.navbar {
    border-bottom: #008ed6 3px solid;
    opacity: 0.8;
}

#home-section {
    background: url('home.jpeg') no-repeat;
    min-height: 700px;
    background-size: cover;
    background-attachment: fixed;
}

.dark-overlay{
    background-color: #000;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 700px;
}

.home-inner {
    padding-top: 130px;
}

.card-form {
    opacity: 0.8;
}

.fa {
    color: #008ed6;
    background: #fff;
    border-radius: 5px;
    font-size: 20px;
    padding: 4px;

}

#explore-section, #share-section .fa{
    color: #fff;
    background: #333;
    font-size: 20px;
    padding: 4px;
    border-radius: 5px;
}